{
  "extends": "../../app/.eslintrc",
  "env": {
    "jasmine": true
  },
  "globals": {
    "inject": true,
    "module": true
  },
  "rules": {
  }, 
  parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
    "jsx": true
    }
  }
}
