.tabs-top > .tabs {
	top: 0px;
	padding-top: 3px;
}

.tabs-striped .tabs {
  border-bottom: 0px;
}

.item-input input{
  width: 10% !important;
}

.item-input {
  padding: 0 0 0 0;
}

.padding {
	padding-top: 55px;
}

.scroll {
  height: 100%;
}

#map {
  height: 100%;
}

.has-tabs-top {
   top: 49px;
}

@media screen and (orientation:landscape) {
	.toggle {
		margin-top: 52px;
		left: 91.5%;
	}
}

@media screen and (orientation:portrait) {
	.toggle {
		margin-top: 52px;
		left: 85.5%;
	}
}

.toggle .track {
  border-color: #ccc;
  background-color: #fff;
}

.button {
	top: 90%;
}

.popover-positive {
	top: 50%;
}