.scroll {
  height: 100%;
}
 
#map {
  height: 100%;
}

.toggle {
	margin-top: 52px;
	left: 85.5%;
}

.tabs-top > .tabs {
	top: 0px;
}

.tabs-striped .tabs {
  border-bottom: 0px;
}

.padding {
	padding-top: 55px;
}
.has-tabs-top {
   top: 49px;
}

.toggle .track {
  border-color: #ccc;
  background-color: #fff;
}
