<ion-view>
  <!-- do you want padding? -->
  <ion-content ng-controller="CameraCtrl" class="padding">

    <!-- content goes here -->
    <img ng-show="root.target" class="profile" ng-src="{{$root.target}}">
    <img ng-show="imageData" class="profile" ng-src="main/assets/images/poloroid.png">

    <button class="button button-positive takePhoto" ng-click="takePhoto()">
      Take Aim
    </button>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">

  </ion-content>
</ion-view>
