<ion-view>
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <div class="list">
      <label class="item item-input">
        <input name="username" type="username" placeholder="username" ng-model="ctrl.user.username">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-positive"
        ng-click="takeSelfie()">
        Take Selfie
      </button>
      <button class="button button-block button-outline button-positive"
        ng-click="ctrl.signin()">
        Sign in
      </button>
    </div>
    <div>{{announcer}}<div>

    <div ng-controller="PopupCtrl">
      <button class="button" ng-click="showPopup($event)">
        Show Popup
      </button>
    </div>

  </ion-content>
</ion-view>