<ion-view>
  <!-- do you want padding? -->
  <ion-content ng-controller="UserCtrl" class="padding">

    <!-- content goes here -->
    <div class="list">
      <h2 ng-show="$root.loggedIn">{{announcer}}<h2>
      <img ng-show="$root.loggedIn" ng-src="{{$root.selfie}}" style="text-align: center">
      <label class="item item-input" ng-show="!$root.loggedIn">
        <input name="username" type="username" placeholder="username" ng-model="user.username" >
      </label>
    </div>
    <div class="padding">
      <button ng-show="!$root.loggedIn" class="button button-block button-outline button-positive"
        ng-click="takePhoto()">
        Take your Photo
      </button>
      <button class="button button-block button-outline button-positive"
        ng-show="!$root.loggedIn"
        ng-click="signIn()">
        Sign in
      </button>
      <button class="button button-block button-outline button-positive"
        ng-show='$root.loggedIn'
        ng-click="signOut()">
        Sign Out
      </button>
    </div>

    <div ng-controller="PopupCtrl">
      <button class="button" ng-click="showPopup($event)">
        Show Popup
      </button>
    </div>
  </ion-content>
</ion-view>