<ion-view>
  <!-- do you want padding? -->
  <ion-content ng-controller="UserCtrl" class="padding">

    <!-- content goes here -->
    <div class="list">
      <div class="header" ng-show="$root.loggedIn">{{announcer}}</div>
      <img ng-show="image" ng-src="{{image}}" style="text-align: center">
      <label class="item item-input" ng-show="!$root.loggedIn">
      <button class="button button-block button-outline button-positive"
        ng-show='$root.loggedIn'
        ng-click="signOut()">
        Sign Out
      </button>
        <input name="username" type="username" placeholder="username" ng-model="user.username" >
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-outline button-positive"
        ng-show="!$root.loggedIn"
        ng-click="signIn()">
        Sign in
      </button>
    </div>

  </ion-content>
</ion-view>